doctype
html(lang="la")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title
      block title
        | landging
    link(rel="stylesheet", href="./assets/css/style.css")
  body
    block content
