extends partials/layout
block content
  header.page-header
    .page-header__container.container
      a(href="#").page-header__logo
        strong Rema&nbsp;
        | Qaek

      nav.page-header__nav
        -
          const menu = [
            {name: 'manbe', active: true},
            {name: 'reddut'},
            {name: 'vevore'},
            {name: 'potch'}
          ]
        each item in menu
            a(
              href="#"
              class=`page-header__nav-item link${item.active ? ' page-header__nav-item--active' : ''}`
            )=item.name

      a(href="tel:88002345566").page-header__contact.link 8 800 234 55 66
  main.index__main
      section.hero
        .hero__container.container.bg-image
          .hero__wrapper
            h1.hero__title Remat lodor tis sowol amet moler qaewok
            p.hero__desc.
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              totam rem aperiam, eaque ipsa quae ab illo inventore.
            .hero__cta
              a(href="#" title="primary action").hero__button.button swilko et
              a(href="#" title="secondary action").hero__link.link menol vi retix

      section.moler-nihil.index__section
        .moler-nihil__container.container
          .moler-nihil__left
            h2.moler-nihil__heading Moler qaewok
            p.moler-nihil__paragraph.moler-nihil__paragraph--wide.
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
              suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
          .moler-nihil__right
              h2.moler-nihil__heading Nihil
              p.moler-nihil__paragraph.
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
                quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
              ol.moler-nihil__list.num-list
                -
                  const list = [
                    'Quis autem vel eum iure reprehenderit qui',
                    'in ea voluptate velit esse quam nihil',
                    'molestiae consequatur',
                    'vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?'
                  ]

                each item in list
                  li.moler-nihil__list-item.num-list__item=item
        .moler-nihil__bg: .moler-nihil__bg-container.container.bg-image

      section.alumae-eun
        .alumae-eun__container.container
          form.alumae-eun__form.feedback-form
            h2.feedback-form__title Alumae eun iure
            p.feedback-form__sub-title nulla pariatur?
            input(type="radio" name="formval" id="alumae-menol" value="menol")
            label(for="alumae-menol").feedback-form__button.button.button--hollow menol
            input(type="radio" name="formval" id="alumae-vi-retix" value="vi retix")
            label(for="alumae-vi-retix").feedback-form__button.button.button--hollow vi retix
            input(type="submit" value="swilko et").feedback-form__button.button

      section.frokly-desitanep.index__section.bg-image
        .frokly-desitanep__container.container
          .frokly-desitanep__wrapper
            h2.frokly-desitanep__heading Frokly an desitanep
            ul.frokly-desitanep__messages
              - let i = 0
              while i < 6
                if i % 2 == 0
                  li.frokly-desitanep__message Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit?
                else
                  li.frokly-desitanep__message Сonsequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                - i++
            a(href="#" title="Consua?").frokly-desitanep__button.button Consua loce?

      section.kojogra-vert.index__section.bg-image
        .container
          h2.section__heading Kojogra vert ol na
          ul.kojogra-vert__product-cards
            -
              const products = [
                {img: './assets/images/product-1.jpg', btnColor: 'blue'},
                {img: './assets/images/product-2.jpg', btnColor: 'green'},
                {img: './assets/images/product-3.jpg', btnColor: 'red'}
              ]
            each product, index in products
              li.kojogra-vert__product-card
                img(src=product.img, alt=`product-${index + 1}`).kojogra-vert__product-picture
                .kojogra-vert__product-info
                  h3.kojogra-vert__product-title Ecoborado
                  p.kojogra-vert__product-desc.
                    Magni dolores eos qui ratione voluptatem sequi nesciunt.
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
                  a(href="#" class=`kojogra-vert__product-button button button--${product.btnColor}`) Neque

      section.ol-na.index__section
        .ol-na__container.container
          h2.ol-na__heading Kojogra vert ol na
          ul.ol-na__reviews
            - i = 0
            while i < 8
              li.ol-na__review
                .ol-na__review-picture
                h3.ol-na__review-title Ora Kfёrk
                p.ol-na__review-desc.
                  Magni dolores eos qui ratione voluptatem sequi nesciunt.
                  Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
              - i++
          .ol-na__sequi-est
            h2.ol-na__sequi-est-title Sequi est amet
            p.ol-na__sequi-est-desc.
              Magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur ratione voluptatem

      section.eun-iure
        .eun-iure__container.container.bg-image
          form.eun-iure__form.feedback-form
            h2.feedback-form__title Alumae eun iure
            p.feedback-form__sub-title nulla pariatur?
            input(type="radio" name="formval" id="iure-menol" value="menol")
            label(for="iure-menol").feedback-form__button.button.button--hollow menol
            input(type="radio" name="formval" id="iure-vi-retix" value="vi retix")
            label(for="iure-vi-retix").feedback-form__button.button.button--hollow vi retix
            input(type="submit" value="swilko et").eun-iure__button.feedback-form__button.button

  #yandex-map
  script(src="https://api-maps.yandex.ru/2.1/?lang=en_GB")
  script.
    ymaps.ready(function() {
      new ymaps.Map('yandex-map', {
          center: [40.766065, -74.011412],
          zoom: 13,
          controls: []
      });
    });

  footer.page-footer
    .container
      .page-footer__lists
        ul.page-footer__list
          li.page-footer__list-item: a(href="#").link Αξεσουάρ μπάνιου
          li.page-footer__list-item: a(href="#").link Βέργα ντους/αξεσ
          li.page-footer__list-item: a(href="#").link Ένδυση/Υπόδηση
          li.page-footer__list-item: a(href="#").link Ευεξία
          li.page-footer__list-item: a(href="#").link Κουρτίνες Ντους

        ul.page-footer__list
          li.page-footer__list-item: a(href="#").link Γραφεία/γ.υπολογιστή
          li.page-footer__list-item: a(href="#").link Γραφείο διάφ.
          li.page-footer__list-item: a(href="#").link Καρέκλες Γραφείου
          li.page-footer__list-item: a(href="#").link Δωροκάρτα


        ul.page-footer__list
          li.page-footer__list-item
            a(href="tel:+302111985096").link +30 211 1985 096
          li.page-footer__list-item
            a(href="mailto:customerservice-gr@jysk.com").page-footer__link.link customerservice-gr@jysk.com
