.alumae-eun {
  padding-top: 40px;
  padding-bottom: 80px;

  &__container {
    flex-flow: row;
    justify-content: flex-end;
  }

  &__form {
    width: 405px;
    margin-right: 7%;
  }

  @include breakpoint(xlarge) {
    &__form {
      margin-right: 3%;
    }
  }

  @include breakpoint(medium) {
    &__container {
      justify-content: center;
    }

    &__form {
      margin-right: 0;
    }
  }

  @include breakpoint(small) {
    padding-bottom: 40px;
  }
}
