.button {
  @include webkit-no-touch-highlight;
  display: inline-block;
  box-sizing: border-box;
  padding: 21px 70px;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  color: color(black);
  background-color: color(yellow);
  border-radius: 40px;
  border: none;

  &:hover,
  &:focus {
    background-color: #f3d331;
  }

  &:active {
    background-color: #ef9611;
  }

  &--hollow {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 22px;
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;

    &:hover,
    &:focus {
      color: color(black);
      background-color: #fff;
    }

    &:active {
      background-color: #ccc;
      border-color: #ccc;
    }
  }

  &--red {
    background-color: color(red);

    &:hover,
    &:focus {
      background-color: color(red-hover);
    }

    &:active {
      background-color: color(red-active);
    }
  }
  &--green {
    background-color: color(green);

    &:hover,
    &:focus {
      background-color: color(green-hover);
    }

    &:active {
      background-color: color(green-active);
    }
  }
  &--blue {
    background-color: color(blue);

    &:hover,
    &:focus {
      background-color: color(blue-hover);
    }

    &:active {
      background-color: color(blue-active);
    }
  }

  @include breakpoint(xlarge) {
    font-size: 30px;

    &--hollow {
      font-size: 22px;
    }
  }

  @include breakpoint(small) {
    font-size: 24px;
    padding: 16px 60px;

    &--hollow {
      padding-top: 11px;
      padding-bottom: 11px;
      font-size: 22px;
    }
  }
}
