html,
body {
  overflow-x: hidden;
}

body {
  color: color(black);
  background-color: #fff;
  line-height: 1.2;

  & *::selection {
    background: #ccc;
  }
}

.container {
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  & *::selection {
    color: #2b2a2b;
    background-color: #c08073;
  }
}

h1,
h2 {
  line-height: 1.2;
  margin: 0;
  margin-bottom: 2rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

.bg-image {
  position: relative;

  &::before,
  &::after {
    overflow-x: hidden;
    content: " ";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

img {
  width: 100%;
  height: auto;
}

#yandex-map {
  height: 459px;
  width: 100%;
  background-color: #fcebd7;
}

@include breakpoint(xlarge) {
  h1 {
    font-size: 65px;
  }

  h2 {
    font-size: 41px;
  }
}

@include breakpoint(large) {
  h1 {
    font-size: 54px;
  }
}

@include breakpoint(medium) {
  h1 {
    font-size: 54px;
  }

  #yandex-map {
    height: 350px;
  }
}

@include breakpoint(small) {
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 35px;
  }
}
