.eun-iure {
  padding-top: 40px;
  padding-bottom: 80px;

  &__container {
    flex-flow: row;
    justify-content: flex-end;

    &::after {
      background-image: url("../images/stool-3.jpg");
      width: 465px;
      height: 623px;
      left: 0;
      top: 0;
      transform: translateY(-40%);
      z-index: 0;
    }
  }

  &__form {
    position: relative;
    z-index: 1;
    width: 405px;
    margin-right: 7%;
  }

  &__button {
    color: #fff;
  }

  @include breakpoint(xlarge) {
    &__form {
      margin-right: 3%;
    }
  }

  @include breakpoint(medium) {
    &__container {
      justify-content: center;
    }

    &__form {
      margin-right: 0;
    }
  }

  @include breakpoint(small) {
    padding-bottom: 40px;

    &__form {
      margin-top: 20px;
    }

    &__container::after {
      width: 233px;
      height: 312px;
      left: 50%;
      right: 0;
      top: -1px;
      transform: translate(-50%, -46%);
    }
  }
}
