.feedback-form {
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  align-items: center;

  input[type="radio"] {
    display: none;

    &:checked + label {
      color: color(black);
      background-color: #fff;

      &:active {
        background-color: #ccc;
        border-color: #ccc;
      }
    }
  }

  &__title {
    margin-bottom: 11px;
  }

  &__sub-title {
    margin-bottom: 40px;
  }

  &__button {
    user-select: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint(small) {
    &__sub-title {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
