.frokly-desitanep {
  padding-bottom: 120px;

  &::before {
    background-image: url("../images/stool-2.jpg");
    width: 353px;
    height: 644px;
    bottom: 0;
    z-index: -1;
    left: 0;
    transform: translate(-50%, 50%);
  }

  &::after {
    background-image: url("../images/barstool.jpg");
    width: 648px;
    height: 867px;
    right: 8px;
    top: 219px;
    z-index: -1;
  }

  &__wrapper {
    display: flex;
    flex-flow: column;
    width: 75%;
  }

  &__heading {
    margin-bottom: 58px;
  }

  &__messages {
    display: flex;
    color: #fff;
    flex-flow: column;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
  }

  &__message {
    box-sizing: border-box;
    padding: 38.5px 37px;
    border-radius: 0 30px 30px 30px;
    background-color: color(brown);
    margin-bottom: 40px;
    width: 60%;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      align-self: flex-end;
      background-color: color(dark-gray);
      border-radius: 30px 0 30px 30px;
    }
  }

  &__button {
    padding-left: 88px;
    padding-right: 88px;
    align-self: center;
  }

  @include breakpoint(xlarge) {
    &::before {
      width: 272px;
      height: 496px;
    }

    &::after {
      top: 40px;
      width: 499px;
      height: 668px;
    }

    &__wrapper {
      width: 80%;
    }
  }

  @include breakpoint(xlarge) {
    &__wrapper {
      width: 90%;
    }

    &__message {
      width: 70%;
    }
  }

  @include breakpoint(medium) {
    &__wrapper {
      width: 100%;
      margin-bottom: 140px;
    }

    &__message {
      width: 95%;
      padding: 28px;
    }
  }

  @include breakpoint(small) {
    &__heading {
      font-size: 38px;
      margin-bottom: 38px;
    }

    &__messages {
      margin-bottom: 35px;
    }

    &__message {
      width: 100%;
      margin-bottom: 25px;
    }

    &__button {
      padding: 16px 40px;
      font-size: 22px;
      align-self: center;
    }
  }
}
