.hero {
  padding-top: 170px;
  padding-bottom: 100px;

  &__container::after {
    background-image: url("../images/chair.png");
    width: 579px;
    right: 7px;
    height: 670px;
    bottom: 2px;
    transform: translateY(44%);
  }

  &__wrapper {
    width: 74%;
    z-index: 1;
  }

  &__title {
    line-height: 1.2;
    margin-bottom: 63px;
  }

  &__desc {
    width: 68%;
    margin-bottom: 50px;
  }

  &__cta {
    display: flex;
    width: 68%;
    align-items: center;
  }

  &__button {
    color: color(gray);
    margin-right: 50px;
  }

  &__link {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
  }

  @include breakpoint(xlarge) {
    &__link {
      font-size: 22px;
    }

    &__desc {
      width: 80%;
    }

    &__container::after {
      width: 450px;
      height: 521px;
      bottom: -20px;
    }
  }

  @include breakpoint(large) {
    padding-top: 130px;

    &__title {
      margin-bottom: 48px;
    }

    &__desc {
      width: 90%;
      margin-bottom: 38px;
    }

    &__cta {
      flex-flow: column;
    }

    &__button {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__link {
      font-size: 20px;
    }

    &__container::after {
      width: 400px;
      height: 463px;
      bottom: -30px;
    }
  }

  @include breakpoint(medium) {
    padding-top: 60px;

    &__wrapper {
      width: 100%;
    }

    &__title {
      margin-bottom: 48px;
    }

    &__desc {
      width: 90%;
      margin-bottom: 38px;
    }

    &__cta {
      flex-flow: column;
      margin-bottom: 90px;
    }

    &__button {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 573px) {
    &__container::after {
      width: 350px;
      height: 405px;
      bottom: -37px;
    }
  }

  @include breakpoint(small) {
    &__wrapper {
      text-align: center;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__desc {
      line-height: 1.5;
      margin-bottom: 25px;
    }

    &__cta {
      width: 100%;
      margin-bottom: 210px;
    }

    &__link {
      font-size: 18px;
    }

    &__container::after {
      width: 290px;
      height: 335px;
      right: 0;
      left: 50%;
      transform: translate(-50%, 47%);
    }
  }
}
