.index {
  &__main {
    font-size: 22px;

    & > *:nth-child(odd) {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.75);
    }

    & > *:first-child,
    & > *:last-child {
      color: #fff;
      background-color: color(orange);
      & *::selection {
        color: #2b2a2b;
        background: #c08073;
      }
    }
  }

  &__section {
    position: relative;
    padding: 60px 0;
  }

  @include breakpoint(xlarge) {
    &__section {
      padding: 50px 0;
    }
  }

  @include breakpoint(large) {
    &__main {
      font-size: 20px;
    }
  }

  @include breakpoint(small) {
    &__main {
      font-size: 16px;
    }
  }
}
