.moler-nihil {
  &__container {
    flex-flow: row;
    padding-bottom: 62px;
    padding-right: 30px;
    justify-content: space-between;

    & > * {
      width: 48%;
    }
  }

  &__right {
    margin-top: 180px;
  }

  &__paragraph--wide {
    line-height: 36px;
  }

  &__list {
    padding-left: 40px;

    &-item {
      line-height: 36px;
      margin-bottom: 30px;
    }
  }

  &__bg {
    &-container {
      max-width: 1456px;
      &::after {
        background-image: url("../images/stool-1.jpg");
        height: 886px;
        width: 557px;
        left: 10px;
        bottom: -5px;
        z-index: -1;
        transform: translateY(51%);
      }
    }
  }

  @include breakpoint(xlarge) {
    &__paragraph--wide {
      line-height: 34px;
    }

    &__bg-container::after {
      width: 433px;
      height: 673px;
    }
  }

  @include breakpoint(large) {
    &__container {
      line-height: 1.5;
    }

    &__right {
      margin-top: 84px;
    }

    &__bg-container::after {
      width: 384px;
      height: 598px;
    }

    &__list {
      padding-left: 20px;
    }

    &__list-item {
      line-height: 28px;
      margin-bottom: 15px;
    }
  }

  @include breakpoint(medium) {
    &__container {
      flex-flow: column;
      padding-bottom: 335px;

      & > * {
        width: 100%;
      }
    }

    &__left {
      margin-top: 60px;
    }

    &__right {
      margin-top: 20px;
    }
  }

  @include breakpoint(small) {
    &__heading {
      margin-bottom: 1.2rem;
    }

    &__paragraph--wide {
      line-height: 1.5;
    }

    &__container {
      padding-bottom: 220px;
    }

    &__list {
      padding-left: 0;
    }

    &__left {
      margin-top: 80px;
    }

    &__bg-container::after {
      width: 279px;
      height: 433px;
      right: 0;
      left: 50%;
      transform: translate(-50%, 55%);
    }
  }
}
