.num-list {
  list-style: none;
  counter-reset: num-list;

  &__item {
    position: relative;
    padding-left: 40px;

    &::before {
      position: absolute;
      left: 0;
      content: counter(num-list);
      counter-increment: num-list;
      font-size: 36px;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  @include breakpoint(large) {
    &__item {
      &::before {
        font-size: 32px;
      }
    }
  }

  @include breakpoint(small) {
    &__item {
      padding-left: 30px;

      &::before {
        font-size: 28px;
      }
    }
  }
}
