.page-header {
  padding-top: 20px;
  color: #fff;
  background-color: color(orange);

  & a {
    color: inherit;
    text-decoration: none;
  }

  &__container {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo {
    padding: 4px 0;
    font-size: 30px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
  }

  &__nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-item {
      position: relative;
      font-size: 20px;
      padding-bottom: 11px;

      &--active {
        padding-bottom: 7px;
        border-bottom: 4px solid #fff;
      }

      &::after {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        height: 4px;
        width: 0;
        transition-property: width;
        transition-duration: 0.2s;
      }

      &:not(&--active):hover::after {
        width: 100%;
      }
    }
  }

  &__contact {
    padding-bottom: 11px;
  }

  @include breakpoint(medium) {
    &__container {
      flex-flow: column;
      align-items: flex-start;
    }

    &__logo {
      margin-bottom: 20px;
    }

    &__nav {
      width: 70%;
      margin-bottom: 20px;
    }
  }

  @include breakpoint(small) {
    &__container {
      align-items: center;
    }

    &__nav {
      width: 100%;
    }
  }
}
