$base-unit: "px";
$base-font-size: 16px;
$h1-font-size: 72px;
$h2-font-size: 48px;
$h3-font-size: 30px;
$base-font-family: "Roboto", Arial, Helvetica, sans-serif;
$normalize-vertical-rhythm: false;

$colors: (
  yellow: #efcb16,
  orange: #e64c2e,
  brown: #c18f67,
  gray: #333333,
  light-gray: #f0f0f0,
  dark-gray: #3f3d3d,
  black: #1a1a1a,
  red: #d63413,
  red-hover: #ea4d2d,
  red-active: #bd2506,
  green: #13d65e,
  green-hover: #2ce774,
  green-active: #03b849,
  blue: #169bef,
  blue-hover: #46b1f4,
  blue-active: #1086d0
);

$breakpoints: (
  small: 480px,
  medium: 758px,
  large: 928px,
  xlarge: 1120px
);

@import "normalize/import-now";
@import "helpers";
@import "fonts";
@import "common";
@import "page-header";
@import "hero";
@import "button";
@import "feedback-form";
@import "moler-nihil";
@import "num-list";
@import "link";
@import "index";
@import "alumae-eun";
@import "frokly-desitanep";
@import "kojogra-vert";
@import "ol-na";
@import "eun-iure";
@import "page-footer";
